[Unit]
Description=Go Choose Your Own Adventure web application
After=network.target

[Service]
Type=simple
User=gocyoa
Group=gocyoa
WorkingDirectory=/srv/gocyoa
ExecStart=/srv/gocyoa/gocyoa

[Install]
WantedBy=multi-user.target
